body {
        background-image: url(../iconos%20svg/macrofoto.jpg);
    }
    
    
@media (max-width: 481px) {
    #logo {
        width:100%;
    }
    
      #macroempicon {
        width:100%;
    }
     #adelantemacro {
        width:10%;
    }

}







@media (min-width: 480px) {
    #logo {
        width:30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #macroempicon {
        width:30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
     #adelantemacro {
        width:10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}